* {
  box-sizing: border-box;
}

body, html {
  padding:0;
  margin:0;
}

/* FEED */
.feedContainer {
  max-width: 600px;
  background-color: rgb(104, 90, 215);
  margin: 0 auto;
  padding: 20px;
}

.feedTitle {
  font-size: 40px;
  font-weight: bold;
  color: wheat;
  margin: 0;
  text-align: center;
}


.tweetContainer {
  margin: 20px auto;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 10px;
}

.user, .message {
  margin-left: 20px;
}

.ago{
  font-weight: 300;
  font-size: 14px;
}

/* USERFEED */

.userFeedContainer {
  background:rgb(104, 90, 215);
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
}

.userTweets {
  margin-bottom: 20px;
}

.backLink{
  background:rgb(18, 12, 70);
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 10px;
}

.linkDiv {
  margin-top: 20px;
}

/* ADDTWEET */
.addTweetContainer{
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid black;

}
textarea {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  margin-top: 10px;
  font-family: inherit;
}